.allcontainer{
   margin-left: 5rem;
   margin-right: 5rem;
}
.heading{
    font-family: Arial;
    // margin-left: 50px;
    margin-bottom: 10px;
}
.reclists{
  //margin-left:30rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
  margin-bottom: 15px;
}

.reclists td,
.reclists th {
  border: 1px solid gold;
  padding: 10px;
}

.button{
    margin-left:40rem;
    border: none;
    padding: 10px;
    background-color: teal;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    font-family: sans-serif;
}