.stocks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 400px;
  }
  
  .stocks td,
  .stocks th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .stocks tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .stocks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #a9740e;
    color: white;
  }

  .bttn {
    text-decoration: none;
    margin-left: 1px;
    align-items: center;
    font-weight: 1000;
    font-size: medium;
    padding: 10px;
    background-color: #c4b532e5;
    color: rgb(0, 0, 0);
    &:hover {
      background-color: #a9740e;
      color: white;
    }
  }

  .sendbtn{
    margin-left: 12px;
  }